<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="QuickRes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="QuickReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
 <userSettings>
  <QuickRes.Properties.Settings>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DoubleClickAction" serializeAs="String">
    <value />
   </setting>
  </QuickRes.Properties.Settings>
  <QuickReminder.Properties.Settings>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
  </QuickReminder.Properties.Settings>
 </userSettings>
</configuration>
